/* ***BANNER*** */

#banner img{
    width: 100%;
}

/* ***BUTIKS PRODUKTER*** */

#store li{
    font-size: 14px;
    text-align: center;
    list-style-type: none;
}

#store ul{
    padding: 0;
    margin-bottom: 5px;
}

#store img{
    margin-bottom: 15px;
}

#store div{
    margin: 10px 0px;
}

#store button{
    margin: 15px 0;
}

/* ***VARUKORG*** */

.itemRow{
    margin: 5px -15px;
}

.itemRow div {
    padding-right: 0;
}

.itemRow li{
    padding-bottom: 3px;
}

.cartStyle{
    /* border: 1px solid rgb(201, 201, 201); */
    border-top: none;
    border-bottom: none;
    /* padding: 15px; */
}

#cartList ul{
    padding: 0;
    margin: 0;
    font-size: 12px;
    list-style-type: none;
}

#modalItemsCart ul{
    font-size: 12px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#modalItems li{
    text-align: center;
    list-style-type: none;
}

#checkForm{
    padding: 15px 5px 0 0;
}

/* ***KNAPPAR*** */

#checkLink{
    margin: 0;
}

#storeBtnRow{
    margin: 70px 0 30px;
}

#cartModalCheckout{
    margin: 0;
}

.btmbtn{
    margin: 25px 0 50px;
}

#backBtn{
    margin: 70px 0 50px;
}