.my-container{
    padding: 0;
}

.my-row{
    height: 400px;
    margin-bottom: 15px;
    padding: 0px;
}

#checkBanner{
    margin: 0px;
}

#checkBanner div{
    padding: 0px;
}

#store li{
    font-size: 16px;
    text-align: center;
    list-style-type: none;
}

#store ul{
    padding: 0;
    margin-bottom: 5px;
}

#store div{
    margin: 10px 0px;
}

.btmbtn{
    margin: 25px 0 50px;
}

.cartStyle{
    border: 1px solid rgb(201, 201, 201);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: none;
    margin: 0 0 5px;
    padding: 15px 0px;
}

.cartStyle > div {
    padding: 15px 0px;
}

#cartList li{
    font-size: 12px;
    text-align: left;
    list-style-type: none;
}

#cartList ul{
    padding: 0;
    margin-bottom: 5px;
}

#cartList div{
    margin: 5px 0;
}

#checkForm{
    padding: 15px 5px 0 0;
}

#modalItems li{
    text-align: center;
    list-style-type: none;
}